.about {
  letter-spacing: 0.1em;
  line-height: 2.8rem;

  &__text {
    padding: 0 20px;

    & > p {
      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }
  }

  &__map {
    @include is-sp {
      margin: 50px 0;
    }
    margin: 77px 0 50px 0;
  }

  &__main {
    display: inline-block;

    &__list {
      @include is-tablet {
        width: 70vw;
      }
      @include is-sp {
        width: 90vw;
        flex-direction: column;
        margin-bottom: 10px;
      }

      display: flex;
      width: calc(100vw - 40vw);

      &__term {
        @include is-sp {
          width: 100%;
          text-align: left;
        }

        width: calc(100% - 63%);
        margin-right: 12px;
        display: inline-block;
        text-align: right;

        &::before {
          @include is-sp {
            content: '【'
          }
        }

        &::after {
          @include is-sp {
            content: '】'
          }
          content: '：'
        }
      }

      &__description {
        @include is-sp {
          padding-left: 20px;
        }
        display: inline-block;

        > dd {
          text-align: left;
        }
      }
    }

    &__supplement {
      margin-top: 30px;

      > li {
        @include is-sp {
          text-align: left;
          padding-left: 20px;
        }
      }

      > li::before {
        content: '-';
        margin-right: 5px;
        font-family: Sans-Serif;
      }
    }
  }
}
