.photo {
  $photo-page-title-height: 70px;

  %title-style {
    height: $photo-page-title-height;
    background: rgba(201, 194, 186, 0.1);
    margin: 41px 0;

      & > h2 {
        line-height: $photo-page-title-height;
      }
  }

  %contents-style {
    @include is-sp {
      flex-direction: column;
    }
    display: flex;
    justify-content: center;
  }

  &__architecture {
    &__title {
      @extend %title-style;
    }

    &__contents {
      @extend %contents-style;
    }
  }

  &__portrait {
    &__title {
      @extend %title-style;
    }

    &__contents {
      @extend %contents-style;
    }
  }

  &__auther {
    @include is-tablet {
      width: 90%;
    }

    background: rgba(201, 194, 186, 0.1);
    width: 50%;
    margin: 95px auto;
    padding: 25px 20px 10px 20px;

    &__name {
      text-align: left;
    }

    &__introduction {
      margin-top: 18px;

      > p {
        text-align: left;
      }
    }
  }
}
