* {
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $default-font-size;
}

a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: #231A17;
  font-weight: 200;

  &:hover {
    text-decoration: underline;
  }
}
