.navigation__menu {
  margin: 26px;

  :not(:first-of-type) {
    margin-left: 67px;
  }

  &__item {
    display: inline-block;
    font-size: 2.2rem;
    letter-spacing: 0.2em;
    font-weight: 200;

    &__link {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        bottom: -5px;
        left: 0;
        width: 0;
        border-bottom: 1.5px solid #231A17;
        transition: all 0.3s ease 0s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
