.contents {
  @include is-tablet {
    flex-direction: column-reverse;
  }

  display: flex;
  justify-content: center;

  &__facebook {
    @include is-tablet {
      margin: 0 auto;
      margin-top: 50px;
    }

    &__iframe {
      width: 100%
    }
  }

  &__main {
    @include is-tablet {
      text-align: center;
      margin: 0;
    }
    text-align: left;
    margin-left: 53px;

    &__img {
      > img {
        width: 524px;
        height: 275px;
        margin-bottom: 25px;
      }
    }

    &__text {
      display: inline-block;
    }
  }
}
