.home {
  &__top {
    width: 100%;

    &__logo {
      width: 180px;
      height: 180px;
    }

    &__lang {
      position: absolute;
      top: 82px;
      right: 153px;

      &--selected {
        opacity: 0.3;
      }
    }
  }

  &__menu {
    font-family: $default-en-font-family;
    margin: 30px;

    :not(:first-of-type) {
      margin-left: 67px;
    }

    &__tab {
      font-size: 22px;
    }
  }

  &__contents {
    display: flex;
    justify-content: center;

    &__about {
      margin-left: 53px;
      &__img {
        width: 524px;
        height: 275px;
        margin-bottom: 25px;
      }

      &__text {
        font-family: $default-jp-font-family;
        font-size: 14px;
        line-height: 28px;
      }
    }
  }
}
