.home__top {
  width: 100%;

  &__title {
    &__logo {
      width: 180px;
      height: 180px;
      visibility: visible;
    }
  }

  &__lang {
    position: absolute;
    top: 82px;
    right: 153px;

    &--selected {
      opacity: 0.3;
    }
  }
}
