.header {
  @include is-sp {
    text-align: left;
  }
  width: 100%;
  height: 100%;
  position: relative;

  &__logo {
    @include is-sp {
      width: 100px;
      height: 100px;
    }
    margin: 15px 0 0 15px;
    width: 180px;
    height: 180px;
    visibility: visible;
  }

  &__menu {
    @include is-sp {
      visibility: visible;
    }

    visibility: hidden;
    position: absolute;
    top: 30px;
    right: 30px;

    &__icon {
      width: 25px;
    }

    &__text {
      margin-left: 10px;
    }
  }

  &__lang {
    @include is-sp {
      // TODO: ハンバーガーメニューに追加する
      display: none;
    }

    position: absolute;
    top: 82px;
    right: 153px;

    &--selected {
      opacity: 0.3;
    }
  }
}
