.header {
  width: 100%;
  height: 180px;

  &__logo {
    width: 180px;
    height: 180px;
    visibility: visible;
  }

  &__lang {
    @include is-sp {
      // TODO: ハンバーガーメニューに追加する
      display: none;
    }

    position: absolute;
    top: 82px;
    right: 153px;

    &--selected {
      opacity: 0.3;
    }
  }
}
