.default-layout {
  $footer-height: 100px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  &__navi {
    background-color: #fff;
    position: sticky;
    top: 0;

    &__title {
      background-color: rgba($color: #fff, $alpha: 0.8);
      font-size: 2rem;
      position: absolute;
      left: 0;
      right: 0;
    }

    .title-fade-enter-active {
      transition: opacity 1s;
    }
    .title-fade-enter, .title-fade-leave-to {
      opacity: 0;
    }
  }

  &__navi--sp {
    @include is-sp {
      visibility: visible;
    }
    visibility: hidden;

    width: 100%;
    height: 100%;

    position: fixed;
    top: 124px;
    left: 0;
    background: #fff;
    opacity: 0.9;

    &__list {
      padding: 20px;
      &__item {
        padding: 10px;
        border-bottom: 1px solid #000;
        &:first-child {
          border-top: 1px solid #000;
        }

        & > a {
          width: 100%;
          height: 100%;
          display: inline-block;
        }
      }

      &__access {
        margin-top: 30px
      }
    }
  }

  .menu-enter-active,
  .menu-leave-active {
    transition: opacity .5s, transform 1s;
  }
  /* 表示するときは左から */
  .menu-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
  /* 消えるときは下へ */
  .menu-leave-to {
    opacity: 0;
  }

  &__nuxt {
    @include is-sp {
      margin-top: 20px;
    }
    padding-bottom: $footer-height;
    margin:100px 0 88px 0;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    height: $footer-height;
    width: 100%;
  }
}
