.menu {
  margin-right:34%;
  margin-left:34%;

  &__list {
    &__term {
      text-align: left;

      &::before {
        content: '-';
        margin-right: 5px;
        font-family: Sans-Serif;
      }
    }

    &__description {
      margin-left: 15px;
      text-align: left;
    }
  }

  &__attention {
    margin-top: 23px;
    text-align: left;

    &::before {
      content: '※';
    }
  }
}
